
$color1:hsl(217,12%,63%);
$color2: hsl(0, 0%, 100%);
$color3:hsl(216, 12%, 54%);
$color4:hsl(25, 97% , 53%);
$color5: hsl(213, 19%, 18%);
$color6:hsl(216, 12%, 8%);
$color7: rgb(92, 38, 38);
$font: 'Poppins', sans-serif;